.portada{

	height: 60vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.portada h1 {

	color: #fff;
	font-size: 122px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
}

.titulo1{

	font-size: 80px;
	width: 100%;
	text-align: center;
	margin: 30px 0;
}

.titulo2{

	font-size: 40px;
	width: 100%;
	text-align: center;
	margin: 30px 0;
}

.container{

	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 50px 10%;
}

.container .element{

	display: flex;
	-ms-align-items: center;
	align-items: center;
	height: 100px;
	padding-left: 20%;
}

.container .element img{

	height: 50px;
	margin-right: 20px;
}

.container .element p{

	font-size: 32px;
}