.portada{

	height: 60vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.portada h1 {

	color: #fff;
	font-size: 122px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
}

.tarjetas{

	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 350px);
	grid-gap: 100px;
	justify-content: center;
	margin: 100px 0;
}

.tarjetas .tarjeta{

	width: 350px;
	height: auto;
}

.tarjetas .tarjeta .encabezado{

	width: 350px;
	height: 250px;
	overflow: hidden;
}

.tarjetas .tarjeta .encabezado img{

	width: 100%;
	height: 100%;
	transition: .5s ease-out;
}

.tarjetas .tarjeta:hover .encabezado img{

	transform: scale(1.2);
}

.tarjeta .cuerpo .titulo{

	margin: 20px 0;
}

/*INICIO SCROLL BAR*/
::-webkit-scrollbar{

  width: 10px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb{

  border-radius: 0px;
  background:#33637F;
}
/*FIN SCROLL BAR*/


/*1365*/
@media (min-width: 1025px) and (max-width: 1440px){

	.portada h1 {

		font-size: 100px;
	}

	.tarjetas{
	
		grid-template-columns: repeat(3, 300px);
		margin: 100px 0;
		padding: 0 100px;

	}

	.tarjetas .tarjeta{

		width: 300px;
		height: auto;
	}

	.tarjetas .tarjeta .encabezado{

		width: 300px;
		height: 250px;
		overflow: hidden;
	}

	.tarjetas .tarjeta .encabezado img{

		width: 100%;
		height: 100%;
	}

	.tarjeta .cuerpo .titulo{

		margin: 20px 0;
		font-size: 20px;
	}

	.tarjeta .cuerpo .texto{

		font-size: 16px;
	}
}

@media (min-width: 801px) and (max-width: 1024px) {
	
}

@media (min-width: 425px) and (max-width: 800px) {
	
}

@media screen and (max-width: 425px) {
	
}

/******************************
*
* modificar todo el index
*
*
******************************/