.portada{

	height: 60vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../img/bizcochos.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.portada h1 {

	color: #fff;
	font-size: 122px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
}

.parrafo{

	padding: 50px 250px;
}

.parrafo p{
	
	font-size: 24px;
	line-height: 50px;
	text-align: justify;
}


@media (min-width: 1025px) and (max-width: 1440px){

	.tarjetas{

		grid-template-columns: repeat(3, 300px);
		grid-gap: 60px;
		margin: 100px 0;
	}

	.tarjetas .tarjeta{

		width: 300px;
		height: auto;
	}

	.tarjetas .tarjeta .encabezado{

		width: 300px;
		height: 250px;
		overflow: hidden;
	}

	.tarjetas .tarjeta .encabezado img{

		object-fit: cover;
	}

	.tarjeta .cuerpo .titulo{

		font-size: 20px;
	}

}

@media (min-width: 801px) and (max-width: 1024px) {

	.portada h1 {

		font-size: 80px;
	}

	.parrafo{

		padding: 30px 50px;
	}

	.parrafo h2{

		font-size: 28px;
	}

	.parrafo p{
		
		font-size: 20px;
	}

	.tarjetas{

		grid-template-columns: repeat(2, 300px);
		margin: 0;
		padding: 0;
	}

	.tarjetas .tarjeta{

		width: 300px;
		height: auto;
	}

	.tarjetas .tarjeta .encabezado{

		width: 300px;
	}

	.tarjeta .cuerpo .titulo{

		margin: 20px 0;
	}

}

@media (min-width: 425px) and (max-width: 800px) {
	
	.portada{

		height: 40vh;
	}

	.portada h1 {

		font-size: 80px;
	}

	.parrafo{

		padding: 30px;
	}

	.parrafo h2{

		font-size: 28px;
	}

	.parrafo p{
		
		font-size: 20px;
	}

	.tarjetas{

		grid-template-columns: 350px;
		margin: 20px 0;
	}

	.tarjetas .tarjeta{

		width: 350px;
		height: auto;
	}

	.tarjetas .tarjeta .encabezado{

		width: 350px;
	}

	.tarjeta .cuerpo .titulo{

		margin: 20px 0;
	}

}

@media screen and (max-width: 425px) {

	.portada{

		height: 40vh;
	}

	.portada h1 {

		font-size: 45px;
	}

	.parrafo{

		padding: 20px;
	}

	.parrafo p{
		
		font-size: 18px;
		text-align: left;
		line-height: 24px;

	}
}